main {
  padding: 40px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services article {
  width: calc(33% - 20px);
  height: calc(33% - 20px);
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.services article:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
}

p {
  color: #555;
  text-align: center;
}

.services article {
  background-color: #fff;
  color: #333;
}

.services article h3 {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.services article p {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:hover {
  background-color: #292f33;
  border-color: #292f33;
}

/* Policy Section Styles */
.policy-section {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 5px;
  margin-top: 40px;
}

.policy-section h2 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.policy-section p {
  color: #555;
  text-align: left;
}

.policy-section ul {
  list-style-type: square;
  margin-left: 20px;
  color: #555;
}

.contact-section {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 5px;
  margin-top: 40px;
}

.contact-section h3 {
  text-align: center;
}

.contact-info {
  list-style: none;
  padding-left: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
